:root {
    --primary-color: #4f46e5;
}

body {
   margin: 0; 
        padding: 0; 
        background-color: #f8fafc; /* Warna abu-abu sangat muda yang modern */
        font-family: 'Plus Jakarta Sans', sans-serif;
}

.main-content {
    margin-top: 70px;
    font-family: 'Plus Jakarta Sans', sans-serif;
    background-color: #f1f4f9; 

}
        .table thead th { 
            position: sticky;
            top: 0;
            z-index: 100;
            color: #475569; 
            text-transform: uppercase; 
            font-size: 0.75rem; 
            letter-spacing: 0.05em;
            border: none;
            padding: 15px;
        }

                /* Table Styling */
        .card-table {
            background: white;
            border-radius: 20px;
            border: none;
            box-shadow: 0 10px 15px -3px rgba(0,0,0,0.1);
            overflow: hidden;
        }
